html {
  font-family: 'open-sans', sans-serif;
  font-size: 100%;
  background-color: rgb(224,224,224);
  box-sizing: border-box;
  
}
header {
  background-color: #FFFFFF;
  max-width: 100%;
  margin: 0 auto;
}
.hdr {
  max-width: 940px;
  position: relative;
  margin: 0 auto;
  height: 90px;
  display: inline-block;
}
.clearfix::after {
  clear: both;
  display: block;
  content: "";
}
.hdr .list {
  display: inline-block;
}
.firstSect {
  background-image: url(../img/background1.png); 
  background-position: 50% -90px;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 100%;
}
.listLng {
  position: absolute;
  top: 0;
  right: 0;
}
.middleSection {
  display: inline-block;
  background: url("../img/weDoBG.png") repeat scroll 0 0 #59bedb;
  width: 100%;
}
